/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
}

section {
    background-color: white;
    padding-left: 8%;
}

.add {
    padding: 5px 10px;
    font-size: small;
    font-weight: bold;
    border-radius: 5px;
    line-height: 60px;
    cursor: pointer;
}

h3 {
    cursor: pointer;
}

.checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
    font-size: x-small;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

.label {
    font-size: x-small;
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
}

/* HEADER */
header {
    height: 80px;
    line-height: 80px;
}

#header-logo {
    height: 60px;
    vertical-align: middle;
}

.logo-title {
    display: inline-block;
    vertical-align: middle;
}

/* MAIN */
main {
    width: 100%;
    background-color: lightgray;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;

}

/* ADD SECTION */
.button-section {
    height: 60px;
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
}

.task-botton {
    color: white;
    background-color: rgb(4, 162, 224);
    border: 2px solid rgb(4, 162, 224);
}

.input-section {
    color: lightgray;
    border: 2px solid lightgray;
    border-color: lightgray;
}

/* LIST SECTION */
.list-container {
    border: 3px solid white;
    padding-top: 20xp;
}

ul {
    list-style-type: none;
    margin-top: 10px;
}

li {
    margin-top: 20px;
    margin-bottom: 10px;
}

.done {
    color: green;
    border-color: green;
}

.undone {
    color: red;
    border-color: red;
}

.editorial {
    background-color: rgb(4, 162, 224);
}

.goals {
    background-color: rgb(124, 61, 139);
}

.recruiting {
    background-color: rgb(3, 124, 114);
}

.mobile {
    background-color: orange;
}

.website {
    background-color: palevioletred;
}

.sales {
    background-color: rgb(107, 177, 1);
}