/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
}

section {
    background-color: white;
    padding-left: 8%;
}

.add {
    padding: 5px 10px;
    font-size: small;
    font-weight: bold;
    border-radius: 5px;
    line-height: 40px;
}

/* HEADER */
header {
    height: 80px;
    line-height: 80px;
}

#header-logo {
    height: 60px;
    vertical-align: middle;
}

.logo-title {
    display: inline-block;
    vertical-align: middle;
}

/* MAIN */
main {
    padding: 30px 10%;
    background-color: gray;
}

/* ADD SECTION */
.button-section {
    height: 60px;
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
}

.task-botton {
    color: white;
    background-color: rgb(4, 162, 224);
    border: 2px solid rgb(4, 162, 224);
}

.input-section {
    color: gray;
    border: 2px solid gray;
    border-color: gray;
}