/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 0 10%;
}

/* HEADER */

header {
    height: 80px;
    line-height: 80px;
}

#header-logo {
    height: 60px;
    vertical-align: middle;
}

.logo-title {
    display: inline-block;
    vertical-align: middle;
}

/* MAIN */

/* ADD SECTION */

.button-section {
    height: 80px;
    width: 100%;
}